.splash-screen{
	margin-top:50%;
    background-color:black;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
	text-align:center;


}
.dropdown{
	padding-bottom:25px;
	padding-left:20px;
	padding-right:20px;
	
}
.button{
	padding-bottom:20px;
}